---
import Navbar from "../components/Navbar.astro"
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<h1>Astro 101
		</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores quis dolor molestiae, quam repellat accusamus eum saepe soluta illum nam consequuntur magnam dolorum alias, vel harum voluptatum itaque reprehenderit.</p>
	</body>
</html>
